html {
  height: 100%;
}

.active {
  color: #ff8f00;
}

.white {
  color: white;
}

.font-montserrat {
  font-family: 'Montserrat Alternates', sans-serif;
}

.nav-link {
  font-size: 1.75rem;
  font-family: 'Germania One', cursive;
}

h1 {
  color: #064f09;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}
h2 {
  color: #064f09;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}
h3 {
  color: #064f09;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}
h4 {
  color: #064f09;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}
h4:hover {
  color: #064f09;
}
h5 {
  color: #064f09;
  font-size: 22px;
  text-align: left;
  font-family: 'Montserrat Alternates', sans-serif;
} /* FAQ page */
ul {
  color: #442404;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
}

p {
  color: black;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
}

label {
  color: #064f09;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
}

a {
  color: #442404;
  font-family: 'Montserrat Alternates', sans-serif;
}

a:hover{
  color: grey;
  text-decoration: none;
}

.active a{
    color: #ff8f00 !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
  width: 100%;
  min-height: 100px;   
  margin-left: auto;
  margin-right: auto; 
}

.btn {
  /*background-color: #3FA39B;*/
  background-color: #68B92D;
  /*background-color: #5AB55D;*/
  /*background-color: #2179A5;*/
  /*background-color: #086A9C;*/
  border-color: #68B92D;
  font-family: 'Montserrat Alternates', sans-serif;
}
.btn:hover {
  background-color: #3FA39B;
  /*background-color: #68B92D;*/
  /*background-color: #5AB55D;*/
  /*background-color: #2179A5;*/
  /*background-color: #086A9C;*/
  border-color: #3FA39B;
}

.navbar {
}

/*bootstrap jumbotron*/

body {
  background: linear-gradient(to right bottom, #7febf9, #ffdd32);
}

#logo-img {
    padding: 10px;
}

input {
  background-color: #d3d1cf;
  border-color: 442404;
  color: 442404;
  border-radius: 3px;
  border-width: 1px;
}

.warningtext {
  color: red;
  display: none;
  font-size: 0.7em;
  /*text-align: center;*/
  padding: 0px;
  margin: 0px;
}

.form-control {
  width: auto;
  padding: 0;
  background-color: #d3d1cf;
  color: white;
}

.form-control:focus {
  background-color: #d3d1cf;
  color: white;
}

/* PARTNERS */
.overlay-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /*background-color: #A9A9A9;*/
  background-color: #d3d1cf;
}
.overlay-container:hover .overlay {
  opacity: .95;
}
.overlay-text {
  color: #442404;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-text:hover {
  color: #442404;
}