.canvas-container{
  position: relative;
}
#myCanvas {
  position: relative;
  height: 100%;
  width: 100%;
}
#rotateClockwise {
  position: absolute;
  left: 600px;
  top: 70px;
}
#rotateCounterClockwise {
  position: absolute;
  left: 540px;
  top: 70px;
}
h3 {
	position: absolute;
	color: #064f09;
  	font-size: 20px;
	z-index: 5;
  	font-family: 'Montserrat Alternates', sans-serif;
}