body {
  margin: 0;
}

canvas {
  height: 100%;
  width: 100%;
  background: url('../images/kitchen_resized.jpg');
  background-size: cover;
  background-position: center center;
  position: absolute;
}

.canvas-container{
  position: relative;
}

#myCanvas {
  position: relative;
  height: 100%;
  width: 100%;
}
