body {
  margin: 0;
}

canvas {
  height: 100%;
  width: 100%;
  background: url('../images/kitchen_resized.jpg');
  background-size: cover;
  background-position: center center;
  position: absolute;
}

.canvas-container{
  position: relative;
}

#myCanvas {
  position: relative;
  height: 100%;
  width: 100%;
}

.pitcherLevel {
  position: absolute;
  top: 42%;
  z-index: 10;
  font-size: 20px;
}

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 15px;
}
