body {
  margin: 0;
}

canvas {
  height: 100%;
  width: 100%;
  background: url('../images/kitchen_resized.jpg');
  background-size: cover;
  background-position: center center;
  position: absolute;
}

#quarts-10 {
}

#quarts-7 {
}

#quarts-5 {
}

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 15px;
}
