.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
}

.hover-fade-container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover-fade-container:hover .image {
  opacity: 0.08;
}

.hover-fade-container:hover .middle {
  opacity: 1;
}

.text {
  color: #064f09;
  font-size: 20px;
  font-family: "Montserrat Alternates", sans-serif;
}

.level {
  color: navy;
}