.font-montserrat {
  font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
  color: #064f09;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
  color: #064f09;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

p {
  color: black;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
}

a {
  color: #442404;
  font-family: 'Montserrat Alternates', sans-serif;
}

a:hover{
  color: grey;
  text-decoration: none;
}

.active a{
    color: #ff8f00 !important;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}